$type-scale: (
  -1: 0.75rem,  // small text
  0: 1rem,      // body text
  1: 1.333rem,  // large text
  2: 1.777rem   // main heading
);

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.3;

$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2
);

@function line-height($level) {
  @return map-get($line-heights, $level);
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans;
  color: rgba(0,0,0,.8);
}

.text-wrapper {
  max-width: 650px;
  line-height: 1.625;
  font-size: 1rem;
  margin: 20px auto 0px;
  padding: 0 $sidebarPadding;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  color: rgba(0,0,0,.67);
  margin-top: $base-line-height;
  margin-bottom: $base-line-height * 0.5;
  line-height: $base-line-height * 2;
}

p {
  margin-bottom: $base-line-height * 2;
}

blockquote {
  quotes: none;

  & p {
    border-left: .15rem solid $accentColor;
    font-style: italic;
    padding-left: 1rem;
  }
}

img {
  margin-bottom: $base-line-height;
}

.caption {
  color: $captionColor;
  font-size: 0.9375rem;

  & a,
  & a:visited {
    color: $captionColor;
  }

  & a:hover {
    color: lighten($captionColor, 15);
  }
}

a,
a:visited {
  color: $accentColor;
  transition: 350ms ease-in-out;
}

a:hover {
  color: lighten($accentColor, 15);
}

@include breakpoint($mobile) {
  blockquote {
    margin-left: -1rem;
  }
}

.page-title {
  font-size: 2.25rem;
  margin: 35px 0;

}

hr {
  border-top: 1px solid #8c8b8b;
  text-align: center;
  margin: 50px 0;
}

hr:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  border-radius: 50%;
  color: #8c8b8b;
  font-size: 16px;
  transform: rotate(60deg);
}

ol {
  padding-left: 0;
  margin-bottom: $base-line-height * 2;
}

ul {
  margin-bottom: $base-line-height * 2;
}
