
// Caption
$bodyColor: rgba(0,0,0,.8);
$headingColor: rgba(0,0,0,.67);
$captionColor: #95a5a6;

// Sidebar
$sidebarHeaderBackgroundColor: #263237;
$sidebarBackgroundColor: #37474e;
$sidebarColor: #79909b;

$sidebarColorLight: lighten($sidebarColor, 30);
$sidebarPadding: 20px;
$sidebarWidthCollasped: 80px;
$sidebarWidth: 250px;

$accentColor: #FF9800;

// Breakpoints
$mobile: 768px;
