
// Sidebar
$sidebarHeaderBackgroundColor: #263237;
$sidebarBackgroundColor: #37474e;
$sidebarColor: #79909b;
$sidebarColorLight: lighten($sidebarColor, 30);
$sidebarPadding: 20px;
$sidebarWidthCollasped: 80px;
$sidebarWidth: 250px;

// Breakpoints
$mobile: 768px;
